.td-search {
  background-color: #183153;
  color: #fffff4;
  border-radius: 15px;
  border: 2px solid #3c8153;
  margin: 0 24px;
  height: 24px;
  width: calc(100% - 62px);
  text-align: center;
  font-weight: bold;
}

.td-search:focus {
  outline-color: #61DAFA;
}
